::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: rgb(37, 233, 70);
}

#nextButton {
    background-color: #bef264;
}

#netButton :hover {
    background-color: #65a30d;
}

#workingTime {
    background-color: #65a30d;
}

#doneIcon {
    color: rgb(37, 233, 70);
}

#saveButton {
    margin-left: 0.3cm;
}
