<div class="border-b-orange-600" id="title">
    <h1 mat-dialog-title class="text-center">{{title}}
    </h1>
</div>
<div class="hidden sm:block" aria-hidden="true">
    <div class="border-t border-gray-200"></div>
</div>
<div class=" px-4 " mat-dialog-content>
    <div class="px-4 py-4 mb-1 tracking-wide">
        <h2 class="mt-1 font-semibold text-gray-800">{{overview.numberOfClient}} khách hàng đã đánh giá</h2>
        <div class="px-8 pb-3 -mx-8 border-b">
            <div class="flex items-center mt-1" *ngFor="let item of overview.detail">
                <div class="flex w-2/5 tracking-tighter text-gray-500">
                    <div *ngFor="let star of stars">
                        <mat-icon class="star" *ngIf="stars.indexOf(star) < item.numStar">star</mat-icon>
                        <mat-icon *ngIf="stars.indexOf(star) >= item.numStar">star</mat-icon>

                    </div>
                </div>
                <div class="w-2/5">
                    <div class="w-full">
                        <span class="text-sm">{{item.numUser}} đánh giá</span>
                    </div>
                </div>
                <div class="w-1/5 pl-3 text-gray-700">
                    <span class="text-sm">{{item.percent}}%</span>
                </div>
            </div>

        </div>
    </div>
    <div class="w-full px-4 pb-4">
        <h3 class="font-medium tracking-tight">Góp ý nhân viên</h3>
        <div *ngIf="feedback?.length">
            <div *ngFor="let item of feedback">
                <div class="flex">
                    <div class="w-12 h-12 mt-1">
                        <img class="inline object-cover w-full h-full rounded-full" src="item.avatarUser"
                            alt="Profile image" />
                    </div>
                    <div class="ml-3 flex-1">
                        <div class="flex">
                            <span>{{item.username}}</span>
                            <div class="ml-40" *ngFor="let star of stars">
                                <mat-icon class="star" *ngIf="stars.indexOf(star) < item.voteNum">star</mat-icon>
                                <mat-icon class="star" *ngIf="stars.indexOf(star) >= item.voteNum">star</mat-icon>

                            </div>
                        </div>
                        <div>
                            <p class="py-1 text-sm text-gray-700">{{item.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="hidden sm:block pt-1" aria-hidden="true">
                    <div class="border-t border-gray-200"></div>
                </div>
            </div>
        </div>
        <div class="bg-red-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert"
            *ngIf="!feedback?.length">
            <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                    </svg></div>
                <div>
                    <p class="font-bold">Không tìm thấy dữ liệu</p>
                    <p class="text-sm">Không có góp ý nào của khách hàng về nhân viên</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>
<div mat-dialog-actions class="flex flex-row-reverse">

    <button mat-button (click)="onNoClick()" class="bg-white
            hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4
            border
            border-gray-400 rounded shadow">Thoát</button>

</div>