<div class="flex">
    <div class="flex flex-col w-96 h-screen px-4  border-r">
        <div class="flex flex-col justify-between mt-6">
            <button (click)="openDialogCreateLeaveDate()"
                class="bg-transparent hover:bg-blue-500 text-blue-700  hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                Tạo ngày nghỉ
            </button>
            <div (click)="$event.stopPropagation()" class="pt-10">
                <mat-card class="demo-inline-calendar-card">
                    <mat-calendar #calendar (selectedChange)="select($event,calendar)" [dateClass]="isSelected">
                    </mat-calendar>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="w-full h-full ml-8 mr-8 overflow-y-auto">
        <div class="flex  mt-6">
            <h2 class="text-lg font-extrabold text-3xl text-gray-900">
                Danh sách nghỉ trong ngày
            </h2>
            <div class="ml-6">
                <a href="/calendar/list" matTooltip="Tải lại trang" mat-stroked-button
                    class="btn-white btn-square bg-white">
                    <mat-icon>sync</mat-icon>
                </a>

                <button matTooltip="Xóa nhân viên" [disabled]="!selection.hasValue()" mat-stroked-button
                    class="btn-white btn-square bg-white ml-3.5s" id="deleteButton">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>

        </div>
        <div class="pt-1">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                (matSortChange)="sortData($event)">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
                text-xs text-gray-900
                uppercase tracking-wider" mat-sort-header="name"> Họ và tên
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap" mat-cell *matCellDef="let
                element">
                        <div class="flex items-center">
                            <div class="flex-shrink-0 h-10 w-10">
                                <img class="h-10 w-10 rounded-full" [src]="element.user_avatar" alt="">
                            </div>
                            <div class="ml-4">
                                <div class="text-sm font-medium
                            text-gray-900">
                                    {{element.user_name}}
                                </div>

                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
                text-xs text-gray-900
                uppercase tracking-wider" mat-sort-header="email"> Ngày </th>
                    <td class="px-6 py-4 whitespace-nowrap" mat-cell *matCellDef="let
                element">
                        <div class="text-sm text-gray-900">{{element.date}}</div>
                    </td>
                </ng-container>


                <ng-container matColumnDef="level">
                    <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
                text-xs text-gray-900
                uppercase tracking-wider" mat-sort-header="role"> Thời gian </th>
                    <td class="px-6 py-4 whitespace-nowrap text-xm
                text-gray-500" mat-cell *matCellDef="let element">
                        <span *ngIf="element.level == 1">
                            06:00 - 11:30
                        </span>
                    </td>
                </ng-container>


                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
                text-xs text-gray-900
                uppercase tracking-wider">Chi tiết</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button>
                            <mat-icon class="white-icon">edit</mat-icon>
                        </button>

                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Chọn trang">
            </mat-paginator>


        </div>
    </div>