/** No CSS for this example */
// .mat-calendar-body-cell.selected
// {
//   background-color:rgb(71, 236, 98)!important;
//   border-radius: 50%
// }

// .mat-calendar-body-cell.current
// {
//   background-color:rgb(230, 39, 48)!important;
//   border-radius: 50%
// }
// .drop-calendar
// {
//   width:30rem
// }

::ng-deep .mat-paginator {
  margin-bottom: 1cm;
}
table {
  width: 100%;
}

.mat-row,
.mat-footer-row {
  height: 68px;
}

.white-icon {
  color: rgb(37, 233, 70);
}

#deleteButton{
margin-left: 0.3cm;
}

// .e-highlightweekend span
//  {
//   border: 1px solid #e3165b !important;
//   border-radius: 50% !important;
//   padding: 2px;
// }
.example-custom-date--orange-class {
  background: orange ;
  border-radius: 100%;
  padding : 2px;
}

.example-custom-date--red-class {
  background: red !important;
  border-radius: 100%;
}

#noteCalendar { 
  background: orange;
}
