::ng-deep .mat-form-field {
    .mat-form-field-infix {
        padding: 0.5em 0;
        border-top: 0.3em solid transparent;
    }
}
.mat-dialog-content::-webkit-scrollbar {
    display: none;
}

.mat-dialog-content {
    width: 20cm;
}