<div class="border-b-orange-600" id="title">
    <h1 mat-dialog-title class="text-center">Thông tin nhân viên </h1>
</div>
<div class="hidden sm:block" aria-hidden="true">
    <div class="border-t border-gray-200"></div>
</div>
<div class="container mx-auto py-2 px-6 w-full h-full flex-grow p-3
    overflow-x-auto" id="body" mat-dialog-content>
    <div>

        <div class="mt-5 md:mt-0 md:col-span-2">
            <form>
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <div class="flex-shrink-0 h-56 w-56">
                                    <img class="h-56 w-56 rounded-full" [src]="avatar" alt="User avatar">
                                    <input #fileInput type="file" (change)="onFileChange($event)"
                                        (click)="fileInput.value= ''" hidden accept="image/jpge,
                                         image/png">
                                </div>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="last-name" class="block
                                    text-sm font-bold text-gray-700">Chức
                                    vụ</label>
                                <div class="flex">

                                    <label class="inline-flex items-center
                                         pt-3">
                                        <input type="radio" class="form-radio" [checked]="role ==
                                             'MANAGER'" name="accountType" (change)="onRoleChange($event)"
                                            value="Quản lý">
                                        <span class="ml-2">Quản lý</span>
                                    </label>
                                    <label class="inline-flex items-center
                                         ml-6 pt-3">
                                        <input type="radio" class="form-radio" [checked]="role ===
                                             'EMPLOYEE'" name="accountType" (change)="onRoleChange($event)"
                                            value="Nhân viên">
                                        <span class="ml-2">Nhân viên</span>
                                    </label>

                                </div>
                                <br>
                                <div class="flex">
                                    <label for="region" class="block text-sm
                                         font-bold text-gray-700 pr-5">Trạng
                                        thái</label>
                                    <span class="px-2 inline-flex text-xs
                                         leading-5 font-semibold rounded-full
                                         bg-green-100 text-green-800">
                                        {{status}}
                                    </span>
                                </div>
                                <br>
                                <button type="button" class="ml-5 bg-white
                                     py-2 px-3 border border-gray-300
                                     rounded-md shadow-sm text-sm leading-4
                                     font-medium text-gray-700
                                     hover:bg-gray-50 focus:outline-none
                                     focus:ring-2 focus:ring-offset-2
                                     focus:ring-indigo-500" (click)='fileInput.click()'>
                                    Đổi ảnh
                                </button>
                                <button type="button" class="ml-5 bg-white
                                     py-2 px-3 border border-gray-300
                                     rounded-md shadow-sm text-sm leading-4
                                     font-medium text-gray-700
                                     hover:bg-gray-50 focus:outline-none
                                     focus:ring-2 focus:ring-offset-2
                                     focus:ring-indigo-500" (click)='onRemoveAvatar()'>
                                    Xóa ảnh
                                </button>
                            </div>

                        </div>

                    </div>
                    <div class="px-4 py-1 bg-gray-50 text-right sm:px-6">
                        <button (click)="saveCommonInform()" type="submit" class="inline-flex
                             justify-center py-1 px-4 border
                             border-transparent shadow-sm text-sm font-medium
                             rounded-md text-white bg-indigo-600
                             hover:bg-indigo-700 focus:outline-none
                             focus:ring-2 focus:ring-offset-2
                             focus:ring-indigo-500">
                            Lưu
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <div class="mt-10 sm:mt-0">
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form [formGroup]="personalInform">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                <label for="first-name" class="block
                                     leading-6 text-sm font-bold
                                     text-gray-900">Họ và tên</label>
                                <input formControlName="name" type="text" name="first-name" id="first-name"
                                    autocomplete="given-name" class="w-full px-4 py-2 text-sm border
                                     rounded-md focus:border-blue-400
                                     focus:outline-none focus:ring-1
                                     focus:ring-blue-600">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="last-name" class="block text-sm
                                     font-bold text-gray-700">Giới tính</label>
                                <label class="inline-flex items-center
                                     pt-3">
                                    <input type="radio" class="form-radio" name="accountType" value="Nam"
                                        checked="gender == 'Nam'" (change)="onItemChange($event)">
                                    <span class="ml-2">Nam</span>
                                </label>
                                <label class="inline-flex items-center
                                     ml-6">
                                    <input type="radio" class="form-radio" name="accountType" value="Nữ"
                                        (change)="onItemChange($event)" checked="gender == 'Nữ'">
                                    <span class="ml-2">Nữ</span>
                                </label>
                                <label class="inline-flex items-center
                                     ml-6">
                                    <input type="radio" class="form-radio" name="accountType" value="Khác"
                                        (change)="onItemChange($event)" checked="gender == 'Khác'">
                                    <span class="ml-2">Khác</span>
                                </label>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="email-address" class="block
                                     text-sm font-bold text-gray-700">Email</label>
                                <input formControlName="email" type="text" name="email-address" id="email-address"
                                    autocomplete="email" class="w-full px-4 py-2 text-sm border
                                     rounded-md focus:border-blue-400
                                     focus:outline-none focus:ring-1
                                     focus:ring-blue-600">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="country" class="block text-sm
                                     font-bold text-gray-700">Ngày sinh</label>
                                <div class="flex">
                                    <mat-form-field class="mr-sm-20">
                                        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" class="w-full px-4 py-2
                                             text-sm">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker startAt="dateOfBirth"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="city" class="block text-sm
                                     font-bold text-gray-700">Số điện thoại</label>
                                <input type="text" name="city" id="city" formControlName="phone"
                                    autocomplete="address-level2" class="w-full px-4 py-2 text-sm border
                                     rounded-md focus:border-blue-400
                                     focus:outline-none focus:ring-1
                                     focus:ring-blue-600">
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="region" class="block text-sm
                                     font-bold text-gray-700">Số CCCD</label>
                                <input type="text" name="region" id="region" formControlName="idCard"
                                    autocomplete="address-level1" class="w-full px-4 py-2 text-sm border
                                     rounded-md focus:border-blue-400
                                     focus:outline-none focus:ring-1
                                     focus:ring-blue-600">
                            </div>

                            <div class="col-span-6">
                                <label for="street-address" class="block
                                     text-sm font-bold text-gray-700">Địa chỉ</label>
                                <input type="text" name="street-address" id="street-address" formControlName="address"
                                    autocomplete="street-address" class="w-full px-4 py-2 text-sm border
                                     rounded-md focus:border-blue-400
                                     focus:outline-none focus:ring-1
                                     focus:ring-blue-600">
                            </div>

                        </div>
                    </div>
                    <div class="px-4 py-1 bg-gray-50 text-right sm:px-6">
                        <button (click)="saveUserPersonalInform()" type="submit" class="inline-flex
                             justify-center py-1 px-4 border
                             border-transparent shadow-sm text-sm font-medium
                             rounded-md text-white bg-indigo-600
                             hover:bg-indigo-700 focus:outline-none
                             focus:ring-2 focus:ring-offset-2
                             focus:ring-indigo-500">
                            Lưu
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>
<div mat-dialog-actions class="flex flex-row-reverse">
    <button mat-button (click)="onNoClick()" class="bg-blue-500
        hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700
        rounded">Thoát</button>
</div>