.example-container {
    // height: 400px;
    overflow: auto;
    width: 15cm;
}

table {
    width: 100%;
}

example-container::-webkit-scrollbar {
    display: none;
}

.mat-table {
    .mat-cell,
    .mat-header-cell {
        padding: 0px 50px;
        white-space: nowrap;
        vertical-align: middle;
        text-align: center;
    }
}

.example-container::-webkit-scrollbar {
    display: none;
}

.star {
    color: rgb(236, 236, 11);
  }