<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="h-8 w-8" src="../../../../assets/img/logo_color.png" alt="Workflow">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a (click)="onClickHomePage()" aria-current="page" [ngClass]="(activeIndex ==1 )? 'bg-gray-900
                                text-white px-3 py-2
                                rounded-md text-sm font-medium' : 'text-gray-300
                                hover:bg-gray-700
                                hover:text-white px-3 py-2 rounded-md text-sm
                                font-medium'" (click)="setActiveNumber(1)">Thống kê</a>
                            <a  (click) = "onClickEmployee()" [ngClass]="(activeIndex ==2 )? 'bg-gray-900
                                text-white px-3 py-2
                                rounded-md text-sm font-medium' : 'text-gray-300
                                hover:bg-gray-700
                                hover:text-white px-3 py-2 rounded-md text-sm
                                font-medium'" >Nhân
                                viên</a>
                            <a (click) = "onClickService()" [ngClass]="(activeIndex == 3 )? 'bg-gray-900
                                text-white px-3 py-2
                                rounded-md text-sm font-medium' : 'text-gray-300
                                hover:bg-gray-700
                                hover:text-white px-3 py-2 rounded-md text-sm
                                font-medium'" >Dịch
                                vụ</a>
                            <a (click) = "onCLickDiscount()" [ngClass]="(activeIndex == 4 )? 'bg-gray-900
                                text-white px-3 py-2
                                rounded-md text-sm font-medium' : 'text-gray-300
                                hover:bg-gray-700
                                hover:text-white px-3 py-2 rounded-md text-sm
                                font-medium'" >Chương
                                trình</a>
                            <a  (click) = "onCLickTask()" [ngClass]="(activeIndex == 5 )? 'bg-gray-900
                                text-white px-3 py-2
                                rounded-md text-sm font-medium' : 'text-gray-300
                                hover:bg-gray-700
                                hover:text-white px-3 py-2 rounded-md text-sm
                                font-medium'" >Công
                                việc</a>
                            <a (click) = "onClickLeaveDate()" [ngClass]="(activeIndex == 6 )? 'bg-gray-900
                                text-white px-3 py-2
                                rounded-md text-sm font-medium' : 'text-gray-300
                                hover:bg-gray-700
                                hover:text-white px-3 py-2 rounded-md text-sm
                                font-medium'" >Lịch
                                làm</a>
                            
                            <a (click) = "onClickNotify()" [ngClass]="(activeIndex == 7)? 'bg-gray-900
                                text-white px-3 py-2
                                rounded-md text-sm font-medium' : 'text-gray-300
                                hover:bg-gray-700
                                hover:text-white px-3 py-2 rounded-md text-sm
                                font-medium'" >Thông
                                báo</a>
                        </div>
                    </div>
                </div>
                <div class="hidden md:block" *ngIf="isLoggedIn">
                    <div class="ml-4 flex items-center md:ml-6">

                        <div class="ml-3 relative">
                            <div>
                                <button 
                                type="button" [matMenuTriggerFor]="menu" class="max-w-xs bg-gray-800 rounded-full
                                    flex items-center text-sm
                                    focus:outline-none focus:ring-2
                                    focus:ring-offset-2
                                    focus:ring-offset-gray-800
                                    focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                    <img class="h-8 w-8 rounded-full"
                                        [src]="avatar"
                                        alt="" >
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item (click) = "onClickProfile()">
                                        <mat-icon>perm_contact_calendar</mat-icon>
                                        <span class="text-sm text-gray-700">Tài
                                            khoản</span>
                                    </button>
                                    
                                    <button mat-menu-item (click)="onClickSignOut()">
                                        <mat-icon>clear</mat-icon>
                                        <span class="text-sm text-gray-700">Đăng
                                            xuất</span>
                                    </button>

                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hidden md:flex items-center justify-end
                    md:flex-1 lg:w-0" *ngIf="!isLoggedIn">
                    <!-- <button (click)="onCLikSignUp();" class="whitespace-nowrap
                        text-white
                        font-medium text-white hover:bg-gray-700
                        hover:text-white px-3 py-2">
                        Đăng kí
                    </button> -->
                    <button (click)="onCLikSignIn();" class="ml-8 whitespace-nowrap inline-flex
                        items-center justify-center px-4 py-2 border
                        border-transparent rounded-md shadow-sm
                        text-base
                        font-medium text-white bg-indigo-600
                        hover:bg-indigo-700">
                        Đăng nhập
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>