<div class="border-b-orange-600" id="title">
    <h1 mat-dialog-title class="text-center">Thêm mới thông báo
    </h1>
</div>
<div class="hidden sm:block" aria-hidden="true">
    <div class="border-t border-gray-200"></div>
</div>

<div mat-dialog-content>
    <div class="mt-5 md:mt-0 md:col-span-2">
        <form [formGroup]="notifyForm">
            <div class="shadow sm:rounded-md sm:overflow-hidden">
                <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                    <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-3">
                            <label for="company-website" class="block
                                text-sm font-medium text-gray-700">
                                Tiêu đề
                            </label>
                            <div class="mt-1  rounded-md shadow-sm">
                                <input formControlName="title" type="text" name="service-name" id="in"
                                    autocomplete="given-name" class="w-full px-4 py-2 text-sm
                                    border
                                    rounded-md focus:border-blue-400
                                    focus:outline-none focus:ring-1
                                    focus:ring-blue-600">
                                <!-- <mat-error *ngIf="title.errors?.required && (title.dirty || title.touched)">
                                    Title is <strong>required</strong>
                                  </mat-error> -->
                            </div>

                        </div>
                    </div>
                    <div>
                        <label for="about" class="block text-sm
                            font-medium text-gray-700">
                            Nội dung
                        </label>
                        <div class="mt-1">
                            <textarea formControlName="content" id="about" name="about" rows="3" class="px-4 py-2 shadow-sm focus:ring-indigo-500
                                focus:border-indigo-500 mt-1 block
                                w-full sm:text-sm border border-gray-300
                                rounded-md" id="in"></textarea>
                        </div>

                    </div>
                    <div>
                        <label for="about" class="block text-sm
                            font-medium text-gray-700 pb-3">
                            Đối tượng nhận thông báo:
                        </label>
                        <mat-form-field appearance="fill" >
                            <mat-label>Người nhận</mat-label>
                            <mat-select name="type" [(value)]="selectedType">
                                <mat-option *ngFor="let type of types" [value]="type.name">
                                    {{type.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
    <div class="">
        <div class="border-t border-gray-200"></div>
    </div>
</div>
<div mat-dialog-actions class="flex flex-row-reverse">
    <button (click) = "saveNotify()"
    class="bg-transparent hover:bg-blue-500 text-blue-700
            font-semibold hover:text-white py-2 px-4 border
            border-blue-500
            hover:border-transparent rounded" id="saveButton">
        Lưu
    </button>
    <button mat-button (click)="onNoClick()" class="bg-white
            hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4
            border
            border-gray-400 rounded shadow">Thoát</button>

</div>