<div class="px-4 pt-6 sm:px-6 flex flex-col md:flex-row">
    <div class="h-32 md:h-auto md:w-1/2 pt-1">
        <h2 class="text-lg font-extrabold text-3xl text-gray-900">
            Danh sách thông báo
        </h2>
    </div>
    <div class="h-32 md:h-auto md:w-2/3 ">
        <a href="/notify/list" matTooltip="Tải lại trang" mat-stroked-button class="btn-white btn-square bg-white ml-4">
            <mat-icon>sync</mat-icon>
        </a>

        <button matTooltip="Thêm mới thông báo" id="addButton" (click)="openDialogCreateNotify()" mat-stroked-button
            class="btn-white btn-square bg-white ml-4">
            <mat-icon>playlist_add</mat-icon>
        </button>

        <button matTooltip="Xóa thông báo" [disabled]="!selection.hasValue()" mat-stroked-button id="deleteButton"
            class="btn-white btn-square bg-white ml-3.5" (click) = "deleteNotify()">
            <mat-icon>delete_outline</mat-icon>
        </button>

        <mat-button-toggle-group [(ngModel)]="status" class="ml-5" (change)="onFilter()">
            <mat-button-toggle value="Đã gửi">Đã gửi</mat-button-toggle>
            <mat-button-toggle value="Đã tạo">Đã tạo</mat-button-toggle>
            <mat-button-toggle value="Tất cả" >Tất cả</mat-button-toggle>
        </mat-button-toggle-group>


    </div>
    <div class="flex justify-center h-2/4 pt-1">
        <div class="flex border-2 rounded">
            <input type="text" class="px-4 py-2 w-80" placeholder="Tìm kiếm...." [formControl]="keySearch" (keyup.enter)="onSearch()">
            <button (click) = "onSearch()" class="flex items-center justify-center px-4 border-l
                hover:bg-gray-300 focus:outline-none focus:ring-2
                focus:ring-offset-2 focus:ring-indigo-500">
                <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42
                        1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12
                        6 6 0 0 0 0 12z"></path>
                </svg>
            </button>
        </div>
    </div>



</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
            text-xs text-gray-900
            uppercase tracking-wider" mat-sort-header="title"> Chủ đề
        </th>
        <td class="px-6 py-4 whitespace-nowrap" mat-cell *matCellDef="let
            element">
            <div class="flex items-center">

                <div class="ml-4">
                    <div class="text-sm font-medium
                        text-gray-900">
                        {{element.title}}
                    </div>
                </div>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
            text-xs text-gray-900
            uppercase tracking-wider" mat-sort-header="content"> Nội dụng
        </th>
        <td class="px-6 py-4 whitespace-nowrap" mat-cell *matCellDef="let
            element">
            <div class="text-sm text-gray-900 flex">
                <span class="pl-1">
                    {{element.content}}
                </span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
            text-xs text-gray-900
            uppercase tracking-wider" mat-sort-header="type"> Đối tượng
        </th>
        <td class="px-6 py-4 whitespace-nowrap" mat-cell *matCellDef="let
            element">
            <div class="text-sm text-gray-900">{{element.type}}</div>
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
            text-xs text-gray-900
            uppercase tracking-wider" mat-sort-header="status"> Trạng thái
        </th>
        <td class="px-6 py-4 whitespace-nowrap" mat-cell *matCellDef="let
            element">
            <span class="{{element.status == 'Đã tạo' ? 'px-2
                inline-flex
                text-xs
                leading-5 font-semibold rounded-full
                bg-green-100 text-green-800' : 'px-2 inline-flex text-xs
                leading-5 font-semibold rounded-full
                bg-red-200 text-green-800' }}" (click) = "openChangeStatusNotify(element.id, element.status)">
                {{element.status}}
            </span>
        </td>
    </ng-container>


    <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-left
            text-xs text-gray-900
            uppercase tracking-wider">Chi tiết</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openDialogEditNotify(element.id,
                element.status)">
                <mat-icon class="white-icon">edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>

<mat-paginator (page)="onPaging($event)" [length]="totalRow" [pageSizeOptions]="arrayPageSize" showFirstLastButtons>
</mat-paginator>