<div class="section section-users users-management-page container pt-5">
  <h3 class="box-title">Thống kê theo công việc </h3>
  <div class="analytics-info section-content f-d-col pl-5">
    <div class="grid grid-cols-3 gap-4">
      <div class="box box-1 bg-white pl-5 ">
        <div class="pt-5 box-content f-d-col">
          <h4>Tổng số công việc</h4>
          <div class="grid grid-cols-2 gap-20">
            <div>
              <h4 class="text-pink-700	">{{num_create}}</h4>
            </div>
            <div class="pl-10">
              <span class="pb-1 txt-danger">{{percent_create}}% <mat-icon>arrow_upward</mat-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-1 bg-white pl-5">
        <div class="pt-5
         box-content f-d-col">
          <h4>Tổng số công việc đã huỷ</h4>
          <div class="grid grid-cols-2 gap-20">
            <div>
              <h4 class="text-pink-700	">{{num_cancel}}</h4>
            </div>
            <div class="pl-10">
              <span class="pb-1 txt-danger">{{percent_cancel}}% <mat-icon>arrow_upward</mat-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-1 bg-white pl-5">
        <div class="pt-5 box-content f-d-col">
          <h4>Tổng số công việc hoàn thành</h4>
          <div class="grid grid-cols-2 gap-20">
            <div>
              <h4 class="text-pink-700	">{{num_done}}</h4>
            </div>
            <div class="pl-10">
              <span class="pb-1 txt-danger ">{{percent_done}}%
                <mat-icon *ngIf="percent_done?.charAt(0) == '-'">arrow_downward</mat-icon>
                <mat-icon *ngIf="percent_done?.charAt(0) != '-'">arrow_upward</mat-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="analytics-chart pb-5">
      <div class="box box-1 ">
        <div class="pt-5 box-content f-d-col">
          <div class="box-tools bg-white py-5 px-3">
            <div class="grid grid-cols-2 gap-4 ">
              <div>
                <h4 class="box-title">Sơ đồ số lượng công việc theo thời gian</h4>
              </div>
              <div class="flex">
                <mat-form-field appearance="fill">
                  <mat-label>Chọn khoảng thời gian</mat-label>
                  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>

                  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                  </mat-error>
                  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>

                <div class="pt-2 pl-5">
                  <button (click)="getTaskOverviewDetail()"
                    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Xác nhận
                  </button>
                </div>
              </div>

            </div>
            <div class="pt-6 chart-box  ">
              <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" [plugins]="lineChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" pt-5 ">

    <h3 class="box-title">Thống kê theo dịch vụ </h3>
    <div class="grid grid-cols-3 gap-4 pl-5">
      <div class="box box-1 bg-white pl-5 ">
        <div class="pt-5 box-content f-d-col">
          <h4>Tổng số dịch vụ</h4>
          <div class="grid grid-cols-2 gap-20">
            <div>
              <h4 class="text-pink-700	">{{num_service}}</h4>
            </div>
            <div class="pl-10">
              <!-- <span class="pb-1 txt-danger">-1% <mat-icon>arrow_upward</mat-icon>
              </span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="box box-1 bg-white pl-5">
        <div class="pt-5
         box-content f-d-col">
          <h4>Dịch vụ được sử dụng nhiều nhất</h4>
          <div class="grid grid-cols-2 gap-5">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img class="h-10 w-10 " [src]="max_service?.banner" alt="">
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium
                      text-gray-900">
                  {{max_service?.name}}
                </div>

              </div>
            </div>
            <div class="pl-10 pt-2">
              <span class="pb-1 txt-danger">{{max_service?.num_task}} (Công việc)
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-1 bg-white pl-5">
        <div class="pt-5 box-content f-d-col">
          <h4>Dịch vụ được sử dụng ít nhất</h4>
          <div class="grid grid-cols-2 gap-5">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img class="h-10 w-10 " [src]="min_service?.banner" alt="">
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium
                      text-gray-900">
                  {{min_service?.name}}
                </div>

              </div>
            </div>
            <div class="pl-10 pt-2">
              <span class="pb-1 txt-danger">{{min_service?.num_task}} (Công việc)
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="analytics-chart pb-5 pl-5">
      <div class="box box-1 ">
        <div class="pt-5 box-content f-d-col">
          <div class="box-tools bg-white py-5 px-3">
            <div class="grid grid-cols-2 gap-4 ">
              <div>
                <h4 class="box-title">Sơ đồ số công việc của mỗi dịch vụ theo thời gian</h4>
              </div>
              <div class="flex">
                <mat-form-field appearance="fill">
                  <mat-label>Chọn khoảng thời gian</mat-label>
                  <mat-date-range-input [formGroup]="campaignTwo" [rangePicker]="picker1">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker1></mat-date-range-picker>

                  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                  </mat-error>
                  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>

                <div class="pt-2 pl-5">
                  <button (click)="getServiceOverviewDetail()"
                    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Xác nhận
                  </button>
                </div>
              </div>

            </div>

            <div class="pt-6 chart-box  ">
              <canvas baseChart width="400" height="400" [datasets]="lineChartDataService"
                [labels]="lineChartLabelsService" [options]="lineChartServiceOptions" [colors]="lineChartServiceColors"
                [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" pt-5 ">
    <h3 class="box-title">Thống kê theo phản hồi của khách hàng </h3>
    <div class="grid grid-cols-3 gap-4 pl-5">
      <div class="box box-1 bg-white pl-5 ">
        <div class="pt-5 box-content f-d-col">
          <h4>Tổng số khách hàng đánh giá</h4>
          <div class="grid grid-cols-2 gap-20">
            <div>
              <h4 class="text-pink-700	">{{num_user}}</h4>
            </div>

          </div>
        </div>
      </div>
      <div class="box box-1 bg-white pl-5">
        <div class="pt-5
         box-content f-d-col">
          <h4>Nhân viên có mức đánh giá cao nhất</h4>
          <div class="grid grid-cols-2 gap-5" *ngIf="max_user.avatar">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img class="h-10 w-10 rounded-full" [src]="max_user?.avatar" alt="">
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium
                      text-gray-900">
                  {{max_user?.name}}
                </div>

              </div>
            </div>
            <div class="pl-10 pt-2">
              <span class="pb-1 txt-danger">{{max_user?.num_star}} (Sao)
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-1 bg-white pl-5">
        <div class="pt-5 box-content f-d-col">
          <h4>Nhân viên có mức đánh giá thấp nhất</h4>
          <div class="grid grid-cols-2 gap-5" *ngIf="min_user.avatar">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img class="h-10 w-10 rounded-full" [src]="min_user?.avatar" alt="">
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium
                      text-gray-900">
                  {{min_user?.name}}
                </div>

              </div>
            </div>
            <div class="pl-10 pt-2">
              <span class="pb-1 txt-danger">{{min_user?.num_star}} (Sao)
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="analytics-chart pb-5 pl-5">
      <div class="box box-1 ">
        <div class="pt-5 box-content f-d-col">
          <div class="box-tools bg-white py-5 px-3">
            <div class="grid grid-cols-2 gap-4 ">
              <div>
                <h4 class="box-title">Sơ đồ mức đánh giá của khách hàng đối với nhân viên</h4>
              </div>
              <div class="flex">
                <mat-form-field appearance="fill">
                  <mat-label>Chọn khoảng thời gian</mat-label>
                  <mat-date-range-input [formGroup]="campaignThree" [rangePicker]="picker2">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker2></mat-date-range-picker>
                </mat-form-field>

                <div class="pt-2 pl-5">
                  <button
                    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Xác nhận
                  </button>
                </div>
              </div>

            </div>
            <div class="chart-wrapper">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                [colors]="barChartColors">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>