#actionButton {
    margin-left: 3.5cm;
}

::ng-deep .mat-menu-panel {
    max-height: 8cm;
}

#banner {
    width: 368px;
    height: 120px;
}
#saveButton {
    margin-left: 0.3cm;
}


#in {
    background-color: rgb(232, 240, 254);
}
