<div class="container mx-auto ">
    <div class="flex justify-center px-6 my-12">
        <div class="w-2/5  flex ">
            <div class="w-full  bg-white p-5 rounded-lg ">
                <div class="px-5 mb-4 text-center">
                    <h3 class="pt-4 mb-2 text-2xl">Đặt lại mật khẩu</h3>
                    <br>
                    <p class=" text-sm text-gray-700">
                        Nhập mật khẩu mới vào mục bên dưới để tiến hành đặt lại mật khẩu của bạn!
                    </p>
                </div>
                <form class="px-3 pt-6 pb-8 mt-2 bg-white rounded">
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                            Mật khẩu
                        </label>
                        <input
                            class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            id="password"
                            type="password"
                            placeholder="Nhập mật khẩu"
                        >
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-bold text-gray-700" for="password-confirm">
                            Xác nhận mật khẩu
                        </label>
                        <input
                            class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            id="password-confirm"
                            type="password"
                            placeholder="Nhập lại mật khẩu"
                        >
                    </div>
                    <div class="mt-6 text-center">
                        <button class="block w-full py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue" href="#">
                            Xác nhận
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
